<html ng-app= "studentdb">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="main.js"></script>
    <h1 style="text-align:center; ">Student Database</h1>
</head>

<body ng-controller="database">
    <div class="col-sm-4">
        <form role= "form">
        <Strong>Search</Strong><br>
        <input type="text" ng-model="searchText[name]"><br><br>
            
        <div class="radio">
           <label><input type="radio"  ng-model="name" name="filteroption" value="firstname" checked>First Name</label>
           <label><input type="radio"  ng-model="name" name="filteroption" value="lastname" >Last Name</label>
        </div>
        </form>
    </div>
    
    <div class= "col-sm-8">
    <table class="table-striped" style="margin-top:100px; font-size: 150%; width:500px">
        <thead style="text-align:center ">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat ="name in students | filter:searchText |  orderBy: 'firstname'">
                <td>{{name.firstname}}</td>
                <td>{{name.lastname}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</body>

</html>