
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#map-canvas {
    height: 400px;
    width: 68%;
    align-content: center;
    margin: 1% 15% 1% 15%;
    padding: 0px;
    border: 1px solid transparent;
}
.controls {
    margin-top: 1%;
    margin-left: 40%;
    border: 1px solid transparent;
    align-content:center;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 35px;
    width: 20%;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.body1 {
   background: url(j.png) no-repeat center center fixed;
   -moz-background-size: cover;
   -webkit-background-size: cover;
    height: 1366;
    width: 768;
   background-size:cover;
   background-position: top center !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
}

.panels {
    width: 68%;
    margin: 2% 15% 2% 15%;
}

