<div class="body1">
 <form >
    <input id="input" class="controls"  type="text" placeholder="Search Places" ng-minlength="2" ng-model="searchBox" >&nbsp;&nbsp;<input type="submit" ng-click="search()" class="btn btn-sm btn-success"  value="Search" >
     <a class="btn btn-success btn-sm navbar-fixed-top" style="margin-left:90%;margin-top:1%" ng-href="/checkin" ng-model="save" ng-show="save"> Save & Proceed</a>
</form>
<br>
<br>
<div id="map-canvas" ></div>
<br>
<br>
<div ng-repeat="item in items track by ($index)">
    <div class="panel panel-success panels">
        <div class="panel-heading "><strong>{{item.venue.name}}</strong>&nbsp;&nbsp;
            <button  class="btn btn-sm" ng-init="check[$index]=true"ng-class="{'btn-success':check[$index], 'btn-danger':!check[$index]}" style="float:right;margin-right:5%" ng-model="check[$index]" ng-click="add2Plan($index)" >{{check[$index]?'Add':"Added" }}</button>
            <button class="btn btn-sm btn-success" style="float:right;margin-right:5%" ng-click="initialize(item.venue.location.lat, item.venue.location.lng, 15)">View Map</button>&nbsp;&nbsp;
        </div>
        <div class="panel-body">
            <strong>Category:</strong> {{item.venue.categories[0].name}}</strong></br>
            <strong>Address:</strong> {{item.venue.location.address}}, {{item.venue.location.city}}, {{item.venue.location.country}}  </br>
            <strong>Rating:</strong> {{item.venue.rating}}</br>
            <strong>Phone:</strong> {{item.venue.contact.formattedPhone}}
    </div>
    </div>
</div>
</div>



