<html ng-app= "runningavg">
    
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <script src="main.js"></script>
    </head>
    
    <body style="margin:30px" ng-controller="uiController">
        <div class="col-md-4">
            <form name="avg">
                <strong>Add Array Element</strong><br><input class= "form-control" type="number" name="item" ng-model="val" style="width:200px;margin-left:20px">
                <br>
                <input class="btn- btn-sm btn-info" type="button" style="margin-left:150px" ng-hide="avg.item.$error.number " ng-click="include(val)" value="Add item"><div ng-show= "avg.item.$error.number || avg.span.$error.number"><strong>Enter A Valid Number</strong></div>
                <br>
                <strong>Enter Span</strong><br>
                <input class= "form-control" ng-model="span" name="span" type="number" ng-change="validate()" style="width:200px;margin-left:20px"><br>
                <input class ="btn btn-sm btn-success" type=button ng-hide="avg.span.$error.number || valid" style="margin-left:150px" value="Average" ng-click=runAvg()>
                <span ng-show="valid"><strong>Span is greater than the Array!!</strong></span>
            </form>
        </div>
        <div class = "col-md-4 container"  >
            <h3>Values in the Array</h3>
            <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in elements track by ($index)">{{item}}</li>
            </ul>
        </div>
        <div class= "col-md-4 container" ng-show="results">
            <h3>Running Averages</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat ="result in results track by ($index)">{{result}}</li>
            </ul>
        </div>
          <div ng-controller = "avgController"></div>      
    </body>
</html>