<div >
    <strong>Travel Plan</strong>
    <table class="table table-striped table-bordered" >
        
        <thead>
            <tr>
                <th>Venue</th>
                <th>Date Of Visit</th>
                <th>Check-In Time</th>
                <th>Check-Out Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="place in places track by $index">
                <td>{{place.venue.name}}</td>
                <td><input type="date" class="datepicker" ng-model="places($index).date"></td>
                <td><input type="time" ngmodel="places($index).checkOut"></td>
                <td><input type="time" ngmodel="places($index).checkOut"></td>
            </tr>
        </tbody>
        
    </table>
</div>
