.body2 {
   background: url(j.png) no-repeat center center fixed;
   -moz-background-size: cover;
   -webkit-background-size: cover;
    height: 1366;
    width: 768;
   background-size:cover;
   background-position: top center !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
}
.table{
     margin:5% 15% 15% 15%;
     width:70%;
 }