<!DOCTYPE html>
<html ng-app>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <body>
        </p>Enter number 1: <input type="number" ng-model="a">
        </p>Enter number 2: <input type=number ng-model="b">
        </p>Sum : {{a+b}}
    </body>
</html>