<html ng-app="mobile">
  <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script href="mobile.json"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <body ng-controller="listmobile">
        <table class="table table-striped">
            
          <thead>
              <tr>
              <th>Model</th>
              <th>Image</th>
              <th>RAM</th>
              <th>OS</th>
              </tr>
          </thead>
          
            <tbody>  
              <tr ng-repeat="mobile in mobiles">
              <td>{{mobile.model}}</td>
              <td><img ng-src={{mobile.href}}></td>
              <td>{{mobile.RAM}}</td>
              <td>{{mobile.OS}}</td>
              </tr>
          </tbody>
            
        </table>
      
        <script>
              angular.module("mobile",[])
              .controller('listmobile',function($scope,$http){
                    $http.get("mobile.json")
                    .success(function(response){
                      $scope.mobiles=response.mobiles;   
                    }); 
              });
        </script>
  </body>
</html>