<!DOCTYPE html>
<html ng-app="validity">
    <head >
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="Validation.js"></script>
    </head>
    <body ng-controller="validation">
        </p>Enter your Mail-ID: <input type="text" ng-model="mail" ng-change="validate()">
        <p><button  ng-show="valid_Status" ng-click=display()>Validate</button></p>
    </body>
    <div ng-show="submit_status" >{{"Mail submitted Successfully"}}</div>
</html>
