<html ng-app= 'ty'>
    <head>
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <h1 style="text-align:center">Login-2</h1>
        <script src= 'main.js'></script>
    </head>
    
    <body>
        </br>
        </br>
        <form name="form"  novalidate >
            <p required style="margin-left:500px;font-size:150%">Password<br>
                <input checkpwd
                       type="text"
                       name="password"
                       ng-model="user.password"
                       placeholder="Password"
                       ng-minlength= "5"
                       ng-maxlength= "10"
                       ng-submit="submitted = true">
                <div ng-show= "form.password.$error.myError  ">Error</div>
            <div ng-show= "!form.password.$error.myError "><strong>Valid Password</strong></div>
<div ng-show= "form.password.$error.maxlength">Too long!!</div>
                <br></p>

            </form>
    </body>
</html>