<html ng-app="bus">
    
      
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel=stylesheet href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <script src="main.js"></script>
       
    </head>
    
    <body>
        
        <div id="header" class="bg-success " >
            <h2>GreenBus</h2>
        </div>
        <div id="res">
            <form name="home" role="form">
                <strong style="word-spacing:275px">From To</strong><br>
                <input type="text" ng-model="source" class="form-group" style="width:250px">&emsp;&emsp;&emsp;&emsp;
                <input type="text" ng-model="dest" class="form-group" style="width:250px"><br><br>
                <strong style="padding-right:190px">Date Of Journey</strong><strong>Date Of Return(Optional)</strong><br>
                <input type="date" ng-model="source" class="form-group datepicker" style="width:250px">&emsp;&emsp;&emsp;&emsp;
                <input type="date" ng-model="dest" class="form-group datepicker" style="width:250px"><br>
                <input type="button" class="btn btn-success" value="Search Buses" style="margin-left:400px" ng-click="search()">
            </form>
        </div>
    </body>
    
</html>