#header{    
    text-align: center;
    font-family: cursive;
    margin-top:0px; 
    font-weight: 300;   
    font-size: 350%;
    height:50px;
    color:darkGreen;
}

#res{
    margin: 100px 0px 0px 400px;
    font-size: 125%;
    
}
