<html ng-app="libapp">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="script.js"></script>
  <body>
    <div class="form-group">
<!--Initiating First Controller As Technical-->
      <form ng-controller="technical"class="form form-vertical">
        <h3>Technical Books</h3>
        <select ng-click="sub_select()" ng-model="selected" ng-options="item.name for item in subjects">
        </select>
        <div ng-show="showbooks" >
          <h4>Books</h4>
            <select ng-model="book_selected" ng-options="book for book in selected.books"></select>
           <button ng-click="checkout()" ng-model="checkedout" ng-show="book_selected&&!checkedout" class="btn btn-sm btn-info" >Submit</button>
          </div>
        <br>
        <br>
          <h3 ng-show="checkedout" ng-click="reset()">Your Book has been Checked out!!!  Please Click here to Reset</h3></br>
        <br>
        <br>
<!--Initiating Second Controller as Non-Technical-->
      </form>  
      <form ng-controller="nontechnical">
        <h3>Non-Technical Books</h3>
        <select ng-click="sub_select()" ng-model="selected" ng-options="item.name for item in subjects">
        </select>
        <div ng-show="showbooks">
          <h4>Books</h4>
          <select ng-model="book_selected" ng-options="book for book in selected.books"></select>
          <button ng-click="checkout()" ng-model="checkedout" ng-show="book_selected&&!checkedout" class="btn btn-sm btn-info" >Submit</button>
        </div>         
      </form>
    </div>
  </body>
</html>