<html >
    <head>
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <h1 style="text-align:center">Login</h1>
        <script src= 'main.js'></script>
    </head>
    
    <body ng-app= 'ty' >
        </br>
        </br>
        <form name="form" ng-submit= "submitted = true" novalidate ng-controller="pwdvalidation">
            <p required checkpwd style="margin-left:500px;font-size:150%">Password<br>
                <input type="password"
                       name="password"
                       ng-model="user.password"
                       placeholder="Password"
                       ng-minlength= "5"
                       ng-maxlength= "10">
                <div ng-show= "form.password.$error.minlength">Too short!!</div>
                <div ng-show= "form.password.$error.maxlength">Too long!!</div>
                <div ng-show= "form.password.$error.required && submitted">Enter Valid Password With Alphabets and Number</div>
            <br></p>
            <p style="margin-left:500px;font-size:150%" ng-show="pcheck">Valid Password:{{user.password}}</p>
            </form>
    </body>
</html>