<!-- Initiating Second Controller as Non-Technical-->
      <form ng-controller="nontechnical">
        <h3>Non-Technical Books</h3>
        <select ng-click="sub_select()" ng-model="selected" ng-options="item.name for item in subjects">
        </select>
        <div ng-show="showbooks">
            <br>
            <br>
            <table class="table table-bordered table-hover" style="width:600px">
                <thead>
                    <tr>
                    <th>Title</th>
                    <th>Stock</th>
                    <th>Cart</th>
                    </tr>
                </thead>  
                <tbody>
                    <tr  ng-repeat="book in selected.books">
                    <td>{{book.name}}</td>
                    <td>{{book.stock}}</td>
                    <td><input id="{{($index)+50}}"type="submit" ng-click="checkout($index)"  style="float:center" ng-disabled="{{book.stock}} == 0" class="btn btn-sm btn-primary" value="Add to Cart"></input></td>
                    </tr>
                </tbody>   
                </table>
        </div>  
       </form>