<!DOCTYPE html>
<html ng-app="validity">
    
  <head >
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <link rel = "stylesheet" type = "text/css" href = "style.css"> 
      <script src = "Validation.js"></script>
  </head>
    
  <body ng-controller = "validation"> 
      <p>Enter your Mail-ID: <input type = "text" ng-model = "mail" ng-change = "validate()">
      <p><button  ng-show = "valid_Status" ng-click = submit()>Submit</button>
  </body>
    
  <div ng-show = "submit_status" >{{"Mail submitted Successfully"}}</div>
  <div id = section >
      <table ng-show = "submit_status || mails" >
          <th>MAIL DATABASE</th><tr ng-repeat = "i in mails  track by $index">
          <td>{{i}}</td>
          </tr>
      </table>
  </div>
</html>
