
#section {
        font-family: fantasy;
        width:350px;
        float:right;
        padding:10px; 
    }
table{
        border: 2px solid green;
        position: fixed
    }
th{
        font-family: sans-serif;
        border: 2px solid black
    }
        td{
        font-family: fantasy;
    }